<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
<header>
	<nav>
		<a asp-action="Index" asp-controller="Home">home</a>
		<a href="/">home</a>
		<a href="/artists">artists</a>
		<a href="/venues">venues</a>
	</nav>

</header>
	<main>
		@RenderBody()
	</main>
	<footer>[footer]</footer>
</body>
</html>
