@model Rockaway.WebApp.Data.Entities.Show

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
	        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
	        <label asp-for="Date"></label>
	        <input type="date" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
	        <label asp-for="HeadlineArtist">Headliner</label>
			
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

