@page
@model Rockaway.WebApp.Pages.VenuesPageModel

@{
	ViewBag.Title = "Venues";
}
<h1>Venues</h1>
@foreach (var venue in Model.Venues)
{
	@Html.DisplayFor(_ => venue)
	@foreach (var show in venue.Shows) {
		@foreach (var slot in show.Slots) {
			@slot.Artist.Name
		}
	}
	<hr />
}